alias c="clear"
alias x="exit"
alias move="mv -iv"
alias copy="cp -iRv"
alias ll="ls -la"
alias del="rm -rIv --preserve-root"
alias ac="apt-cache"

# easy editor commands
alias vimrc="$EDITOR ~/.vimrc"
alias zshrc="$EDITOR ~/.zshrc"
alias bashrc="$EDITOR ~/.bashrc"

# for easy movement
alias ..="cd .."
alias ...="cd ../.."

# mount storage
alias mstor="sudo mount /dev/sda6 /media/Storage"

# general settings
if [ -f ~/.shell_options ]; then
	source ~/.shell_options
fi

# source local settings
if [ -f ~/.local_aliases ]; then
	source ~/.local_aliases
fi
